*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

.welcome {
  height: 100vh;
  z-index: 100;
  width: 100vw;
  position: absolute;
  background: #0f2027;
  background: -webkit-gradient(linear, right top, left top, from(#397b42), color-stop(#1fc5c6), to(#0e7ae4));
  background: linear-gradient(270deg, #397b42, #1fc5c6, #0e7ae4);
  background-size: 600% 600%;
  -webkit-animation: gradientAnimation 9s ease infinite;
  animation: gradientAnimation 9s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  color: #fff;
}

.welcome-heading {
  font-family: "Merienda", cursive;
  font-weight: 400;
  font-size: 8.5rem;
  margin-bottom: 0;
  opacity: 0;
}

.welcome-sub-heading {
  font-family: "Fira Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  opacity: 0;
  margin: 2rem 0 4rem 0;
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

.loader-wrapper {
  height: 2px;
  width: 250px;
  background-color: #626262;
  border-radius: 100px;
  opacity: 0;
}

.loader-wrapper .loader {
  height: 2px;
  width: 250px;
  background-color: #fff;
  border-radius: 100px;
}

.header {
  height: 100vh;
  width: 100%;
}

.header-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-h1 {
  font-size: 5rem;
  margin-bottom: 1.2rem;
}

.header .fade {
  opacity: 1;
}

.header-name a {
  text-decoration: none;
  background-color: orange;
  padding: 1.2rem 2.5rem;
  display: inline-block;
  font-size: 5rem;
}

.header-btn {
  text-decoration: none;
  background-color: orange;
  padding: 1rem 2rem;
  position: relative;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  display: inline-block;
  font-size: 2rem;
}

.header-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: aqua;
  z-index: -1;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.header-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.nav {
  margin-top: 5rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5rem;
}

.nav-link {
  margin-right: 5rem;
  font-size: 3rem;
  opacity: 1;
}

.nav-link:last-child {
  margin: 0;
}

.project {
  padding: 16rem 0;
}

.project-1 {
  background: #0f2027;
  background: -webkit-gradient(linear, left top, right top, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  margin: 0 auto;
}

.project-2 {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: 0 auto;
}

.project-img {
  margin-right: 5rem;
}

.project-img a:hover img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.project-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.project-text {
  color: #fff;
}

.project-text .view-code-1 {
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #089292;
  font-size: 2rem;
  display: inline-block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.project-text .view-code-1:hover {
  background-color: #056969;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
}

.project-text .view-code-2 {
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #aa6aff;
  font-size: 2rem;
  display: inline-block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.project-text .view-code-2:hover {
  background-color: #783ac9;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
}

.project-text h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.project-text p {
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.project-icons-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-icons-1 p {
  margin-right: 2.5rem;
}

.project-icons-1 p i {
  margin-right: 0.7rem;
  color: #23ffff;
}

.project-icons-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-icons-2 p {
  margin-right: 2.5rem;
}

.project-icons-2 p i {
  margin-right: 0.7rem;
  color: #aa6aff;
}
/*# sourceMappingURL=style.css.map */