//Global styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

//Wrapper
.welcome {
  height: 100vh;
  z-index: 100;
  width: 100vw;
  position: absolute;
  background: #0f2027;
  // background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  // background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(270deg, #397b42, #1fc5c6, #0e7ae4);
  background-size: 600% 600%;

  -webkit-animation: gradientAnimation 9s ease infinite;
  -moz-animation: gradientAnimation 9s ease infinite;
  animation: gradientAnimation 9s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  color: #fff;

  &-heading {
    font-family: "Merienda", cursive;
    font-weight: 400;
    font-size: 8.5rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &-sub-heading {
    font-family: "Fira Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: 0;
    margin: 2rem 0 4rem 0;
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-moz-keyframes gradientAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

.loader-wrapper {
  height: 2px;
  width: 250px;
  background-color: #626262;
  border-radius: 100px;
  opacity: 0;

  .loader {
    height: 2px;
    width: 250px;
    background-color: #fff;
    border-radius: 100px;
  }
}

//Header
.header {
  height: 100vh;
  width: 100%;

  &-content {
    text-align: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-h1 {
    font-size: 5rem;
    margin-bottom: 1.2rem;
  }

  .fade {
    opacity: 1;
  }

  &-name a {
    text-decoration: none;
    background-color: orange;
    padding: 1.2rem 2.5rem;
    display: inline-block;
    font-size: 5rem;
  }

  &-btn {
    text-decoration: none;
    background-color: orange;
    padding: 1rem 2rem;
    position: relative;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    display: inline-block;
    font-size: 2rem;
  }

  &-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    background-color: aqua;
    z-index: -1;
    transition: 0.3s all;
    transform-origin: 0 50%;
  }

  &-btn:hover::before {
    transform: scaleX(1);
  }

  p {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}

.nav {
  margin-top: 5rem;

  &-list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 5rem;
  }

  &-link {
    margin-right: 5rem;
    font-size: 3rem;
    opacity: 1;

    &:last-child {
      margin: 0;
    }
  }
}

//Projects
.project {
  padding: 16rem 0;
  &-1 {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    margin: 0 auto;
  }

  &-2 {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &-content {
    display: flex;
    width: 65%;
    margin: 0 auto;
  }

  &-img {
    margin-right: 5rem;

    a:hover img {
      transform: translateY(-5px);
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      transition: 0.2s all;
    }
  }

  &-text {
    color: #fff;

    .view-code-1 {
      padding: 1rem 2rem;
      border-radius: 3px;
      background-color: rgb(8, 146, 146);
      font-size: 2rem;
      display: inline-block;
      transition: 0.3s all;

      &:hover {
        background-color: rgb(5, 105, 105);
        -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
      }
    }

    .view-code-2 {
      padding: 1rem 2rem;
      border-radius: 3px;
      background-color: rgb(170, 106, 255);
      font-size: 2rem;
      display: inline-block;
      transition: 0.3s all;

      &:hover {
        background-color: rgb(120, 58, 201);
        -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
      }
    }

    h3 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.7rem;
      margin-bottom: 3rem;
    }
  }

  &-text-mr {
    margin-right: 4rem;
  }

  &-icons-1 {
    display: flex;

    p {
      margin-right: 2.5rem;

      i {
        margin-right: 0.7rem;
        color: rgb(35, 255, 255);
      }
    }
  }

  &-icons-2 {
    display: flex;

    p {
      margin-right: 2.5rem;

      i {
        margin-right: 0.7rem;
        color: rgb(170, 106, 255);
      }
    }
  }
}
